# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=15ba7b48a85c8874119c5f9b99889c90cbc0c4057c6450eff31acc26703bafbe5ae81d3100d505f69bd30c66c9831d50e1c07b80e242026a352d8bbfef5ad35c
REDIS_URL=redis://localhost:6379/3
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
